		</div>
		<div id='wrap_footer'>
			Developed by <a href='http://mcuznz.ca'>@mcuznz</a> &nbsp; | &nbsp; Long Live <span class='coh'>City of Heroes</span>!
			&nbsp; | &nbsp; <a href='http://home.roadrunner.com/~dasloth/CoH/Demos/DemoLaunch.htm'>Sloth's Demo Launcher</a>
			&nbsp; | &nbsp; <a href='http://repo.cohtitan.com/cameraman/cameraman.exe'>CodeWalker's Cameraman</a>
		</div>
	</div>
</div>
</body>
</html>