<!DOCTYPE html>
<html>
<head>
	<title>DEMOlition</title>
	<link rel='stylesheet' href='demolition.css' media='screen' />
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
	<script type='text/javascript' src='demolition.js'></script>
</head>
<body>
<a href="https://github.com/mcuznz/DEMOlition"><img style="position: absolute; top: 0; left: 0; border: 0;"
src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"
alt="Fork me on GitHub"></a>
<div id='wrap_all'>
	<div id='wrap_inside'>
		<div id='wrap_header'>
			<div id='header_stats'>
			{% if stats is defined %}
				<h3>Stats since Dec 8th, 5PM EST</h3>
				<label>Costume Files:</label> {{ stats['numCostumes'] }}<br/>
				<label>Titan Files:</label> {{ stats['numTitans'] }}<br/>
				<label>Demos Output:</label> {{ stats['numDemosOut'] }}<br/>
			{% endif %}
			</div>
			<a href='/'><h1>DEMOlition</h1></a>
			<p><span class='coh'>City of Heroes</span> .demorecord builder by Duck L'Orange<br/>
			New Locales added!  Circle Direction now selectable!</p>
		</div>
		<div id='wrap_content'>
